
table.uniquetitle-bundles-properties th {
  vertical-align: bottom;
}

table.uniquetitle-bundles-properties td {
  vertical-align: top;
}

table.uniquetitle-bundles-properties col.bundle {
  width: 24em;
}

table.uniquetitle-bundles-properties col.unique,
table.uniquetitle-bundles-properties.recycle col.case-sensitive {
  width: 8em;
}
